@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #2AE;
}

body::-webkit-scrollbar {
  width: 1.3rem;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #DDD;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 15rem;
  color: white;
  font-weight: 100;
  letter-spacing: 7rem;
  text-align: center;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;

}

.button-container a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  letter-spacing: 2rem;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2rem 3rem;
  transition: .2s all;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container a:hover {
  background-color: white;
  color: #2AE;
}

.description-container {
  width: 80%;
  margin: 0 auto;
  font-size: 2.5rem;
  line-height: 4.5rem;
  margin-bottom: 10rem;
}

.description-container a {
  text-decoration: none;
  color: white;
  transition: .2s all;
}

.description-container a:hover {
  border-bottom: 1px solid white;
}
